<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="Fashion, sales, shop, buy">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Title -->
    <title>Admin Dashboard</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">
    
    <!--bootstrap CDN included-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--bootstrap css included manually-->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">


    <!-- jquery included -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
    <!--Font awesome stylesheet-->
    <link rel="stylesheet" href="/css/all.min.css" type="text/css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!--Css plugins-->
    <link rel="stylesheet" href="/css/tempusdominus-bootstrap-4.min.css" type="text/css">
    <link rel="stylesheet" href="/css/icheck-bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/jqvmap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/OverlayScrollbars.min.css" type="text/css">
    <link rel="stylesheet" href="/css/daterangepicker.css" type="text/css">
    <link rel="stylesheet" href="/css/dropzone.min.css" type="text/css">

    <!-- DataTables css-->
  <link rel="stylesheet" href="/css/dataTables.bootstrap4.min.css" type="text/css">
  <link rel="stylesheet" href="/css/responsive.bootstrap4.min.css" type="text/css">
  <link rel="stylesheet" href="/css/buttons.bootstrap4.min.css" type="text/css">

    <!--site stylesheet-->
    <link rel="stylesheet" href="/css/dashboard.css" type="text/css">
</head>
