<div class="rating">
    <% if (p.rating >= 1 && p.rating < 1.5){ %>
    <i class="fa fa-star"></i>
    <% }else if (p.rating >= 1.5 && p.rating < 2 ) {%>
    <i class="fa fa-star"></i>
    <i class="fa fa-star-half-o"></i>
    <% }else if (p.rating >= 2 && p.rating < 2.5){ %>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <% } else if (p.rating >= 2.5 && p.rating < 3) { %>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star-half-o"></i>
    <% }else if (p.rating >= 3 && p.rating < 3.5){ %>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <% }else if (p.rating >= 3.5 && p.rating < 4){ %>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star-half-o"></i>
    <% }else if (p.rating >= 4 && p.rating < 4.5){ %>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <% }else if (p.rating >= 4.5 && p.rating < 5){ %>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star-half-o"></i>
    <% }else if (p.rating >= 5){ %>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <% }else{ %> 
        <i class="fa fa-star-o"></i>
    <i class="fa fa-star-o"></i>
    <i class="fa fa-star-o"></i>
    <i class="fa fa-star-o"></i>
    <i class="fa fa-star-o"></i>
    <% } %>
    <span> - <i><%=p.numReviews %> Review(s) </i> </span>
</div>