<!DOCTYPE html>
<html>
<%- include('partials/head'); %>

<body class="main-layout">
    <%- include('layouts/header'); %>
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Confirm Email</h4>
                        <div class="breadcrumb__links">
                            <a href="/">Home</a>
                            <span>Confrim Email</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <br>
    <br>
    <section>
        <div class="container">
            

            <div class="contact__form">
                <br>
                <div class="card bg-light">
                    <div class="card-header text-center">
                        <h4>You have successfully verified your email!</h4>
                    </div>
                    <div class="card-body text-center">
                        <a href="/users/login" class="primary-btn"> Login to continue</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>

    <%- include('layouts/footer'); %>
</body>

</html>
